@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 1024px) {
    *{
box-sizing: border-box;
    }
html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 1920px;
    height: 9500px;
    background-color: black;
}
body{
    margin: 0;
    padding: 0;
}
#top{
    background-image: url(../img/bg-top.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 1550px;
    width: 1920px;
}
.nav-bar{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #1e345b;
    padding-left: 600px;
    padding-top: 15px;
    z-index: 100000;
}
.nav-bar a{
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}
.title-top{
    position: relative;
    text-align: center;
    padding-top: 660px;
    margin-bottom: 0;
}
.top-lead{
    border: 5px;
    border-style: solid;
    border-color: orangered;
    border-radius: 15px;
    width: 1076px;
    height: 336px;
    background-color: white;
}
.top-lead{
    position: relative;
    text-align: center;
    margin-left: 425px;
    margin-top: 60px;
}
.top-lead p{
    font-size: 52px;
    text-align: center;
    margin-top: 30px;
}
.acc img{
    position: absolute;
    width: 500px;
    height: auto;
    top: -90px;
    right: 850px;
}
#bg2{
    background-image:url(../img/bg2_02.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 1500px;
    width: 1920px;
}
.title-bg2{
    position: relative;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 0;
    
}
/*slider*/
.slider{
    width: 800px;
    height: 700px;
    border-radius: 10px;
    overflow: hidden;
}
.slider{
    position: relative;
    text-align: center;
    margin-left: 565px;
    margin-top: 50px;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s; 
}
.slide img{
    width: 800px;
    height: 500px;
    border-radius: 10px;
}
.slide p{
    padding-top: 50px;
    color: #e09058;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

/* manual slide nav*/

.navigation-manual{
position: absolute;
width: 800px;
margin-top: -40px;
display: flex;
justify-content: center;

}
.manual-btn{
    border: 2px solid #f3811d;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    border: 2px solid #f3811d;
    background: #f3811d;
}
#radio1:checked ~ .first{
margin-left: 0;
}
#radio2:checked ~ .first{
margin-left: -20%;
}
#radio3:checked ~ .first{
margin-left: -40%;
}
#radio4:checked ~ .first{
margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}

/*automatic nav*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid #f3811d;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #f3811d;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #f3811d;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #f3811d;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #f3811d;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: #f3811d;
}

/*plan*/

.plan{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.plan a:hover{
    scale: 125%;
    color: rgb(148, 16, 16);
    font-weight: bolder;
    margin-right: 10px;
    transition: 1.5s;
}
.plan1{
    position: relative;
    margin-bottom: 20px;
}
.plan1 p{
    position: absolute;
    color: black;
    z-index: 200;
    bottom: 30px;
    left: 625px;
}
.plan1 a{
    position: absolute;
    color: yellow;
    z-index: 200;
    top: 150px;
    left: 825px;
}
.plan2{
    position: relative;
    margin-bottom: 20px;
}
.plan2 p{
    position: absolute;
    color: black;
    z-index: 200;
    bottom: 30px;
    left: 625px;
}
.plan2 a{
    position: absolute;
    color: yellow;
    z-index: 200;
    top: 150px;
    left: 825px;
}
#mama{
    background-image: url(../img/mama_02.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1568px;
}
.title-mama img{
    position: relative;
    text-align: center;
    margin-left: 485px;
    padding-top: 50px;
}
.box{
    width: 920px;
    height: 730px;
    margin-left: 565px;
    margin-top: 40px;
    margin-bottom: -30px;
}
.box img{
    width: 400px;
    height: auto;
}
.box img:hover{
    cursor: pointer;
    scale: 125%;
    transition: 2s;
}
.c-text p{
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.plan-c{
    position: relative;
    top: 50px;
}
.plan-c p{
    position: absolute;
    color: black;
    z-index: 200;
    bottom: 30px;
    left: 625px;
}
.plan-c a{
    position: absolute;
    color: black;
    z-index: 200;
    top: 150px;
    left: 825px;
}

#camp{
    background-image: url(../img/bg2_02.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1568px;
}
.title-camp img{
    padding-top: 100px;
    padding-left: 400px;
}

/*swiper*/

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    border-radius: 10px;
    display: block;
    width: 70%;
    height: 90%;
    object-fit: cover;
  }
.mySwiper2 {
    height: 100%;
    width: 100%;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper {
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
.mySwiper .swiper-slide {
    width: 75%;
    height: 100%;
    opacity: 0.2;
}
.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}
.mySwiper {
    height: 100px;
    width: 750px;
    box-sizing: border-box;
    padding: 20px 0;
}
.swiper-button-prev, .swiper-button-next{
    color: orangered;
}

.text-camp{
    color: #e09058;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
#camp .plan{
    position: relative;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.plan a:hover{
    scale: 125%;
    color: rgb(148, 16, 16);
    font-weight: bolder;
    margin-right: 10px;
    transition: 1.5s;
}
.plan-camp1{
    position: relative;
    margin-bottom: 20px;
}
.plan-camp1 p{
    position: absolute;
    color: black;
    z-index: 200;
    bottom: 30px;
    left: 575px;
}
.plan-camp1 a{
    position: absolute;
    color: yellow;
    z-index: 200;
    top: 150px;
    left: 825px;
}
.plan-camp2{
    position: relative;
    margin-bottom: 20px;
}
.plan-camp2 p{
    position: absolute;
    color: black;
    z-index: 200;
    bottom: 30px;
    left: 575px;
}
.plan-camp2 a{
    position: absolute;
    color: yellow;
    z-index: 200;
    top: 150px;
    left: 825px;
}
}